<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit the <%=restaurant.name%></h1>
        <dev>
            
            <form action="/restaurants" method="POST"></label>
                <fieldset>
                    <label>Name: <input type="text" name="name" placeholder="Name"></label>
                    <label>Cuisine: <input type="text" name="cuisine" placeholder="Cuisine"></label>
                    <label>PriceRange: <input type="number" name="priceRange" placeholder="Price Range"></label>
                    <label>Website: <input type="text" name="restaurantLink" placeholder="Website URL"></label>
                    <label>Dishes: <input type="text" name="dishes" placeholder="Dishes"></label>
                    <label>Drinks: <input type="text" name="drinks" placeholder="Drinks"></label>
                    <label>Notes: <input type="text" name="notes" placeholder="Anthing Else?"></label>
                </fieldset>
            </form>

        </dev>
   
</body>
</html>