
.heading {
    color: rgb(235, 241, 244);
    font-family: 'Bungee Shade', cursive;
    font-size: 35pt;
}
body {
    margin: 5pt 80pt 5pt 80pt;
    background-image: url(./images/StockSnap_KQ2X08KXAB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    text-decoration: none;
}
h2 {
    color: yellow;
    margin: 0;
    font-size: 25pt;
}
h1 {
    margin: 2pt;
}
h3 {
    margin: 2pt;
}
form {
    /* background-color: rgb(96, 96, 96, 0.8); */
    font-family: 'Belanosima', sans-serif;

}
fieldset{
    display: flex;
    flex-direction: column;
    gap: 5pt;
    border: 0;
    font-size: 20pt;
    font-family: 'Belanosima', sans-serif;
}
div {
    background-color: rgba(78, 76, 76, 0.9);
    border: 0;
    font-size: 20pt;
    /* margin: 10pt; */
    font-family: 'Belanosima', sans-serif;
    margin: 15pt;
    align-content: center;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: rgb(251, 197, 50);
}
a {
    color: white;
    margin: 0;
}
h6 {
    margin: 2pt
}

button {
    font-size: 12pt;
    font-family: 'Quicksand', sans-serif;

}

@media (min-width: 0px) and (max-width: 700px) {
    body {
        background-image: url(./images/StockSnap_KQ2X08KXAB.jpg);
        background-repeat: repeat;
        background-size: cover;
        font-size: 15pt;
        font-family: 'Quicksand', sans-serif;
        margin: 0;

    }
    div {
        font-size: 20pt;
        font-family: 'Quicksand', sans-serif;
    }
    fieldset {
        font-family: 'Quicksand', sans-serif;
    }
}