<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/homepageHeader.ejs') %>
</head>
<body>
    <div id="login-form">
        <form action="/user/login" method="POST">
            <h2>Log In</h2>
    
            Username: <input type="text" name="username" placeholder="username">
            <br>
            Password: <input type="password" name="password" placeholder="password">
            <br>
            <input type="submit" value="Login!">
        </form>
    </div>
</body>
</html>