<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="signup-form">
        <form action="/user/signup" method="POST">
            <h1>Sign up for TASTIES!</h1>
            First Name: <input type="text" name="firstName" placeholder="First name">
            <br>
            Last Name: <input type="text" name="lastName" placeholder="Last name">
            <br>
            Username: <input type="text" name="username" placeholder="username">
            <br>
            Password: <input type="password" name="password" placeholder="password">
            <br>
            <input type="submit" name="Sign Up!">
        </form>
    </div>
</body>
</html>