<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/homepageHeader.ejs') %>
</head>
<body>
    
    <div id="signup-form">
        <form action="/user/signup" method="POST">
            <h2>Sign up for TASTIES!</h2>
            <h6>*required field</h6>
            *First Name: <input type="text" name="firstName" placeholder="First name">
            <br>
            *Last Name: <input type="text" name="lastName" placeholder="Last name">
            <br>
            *Username: <input type="text" name="username" placeholder="username">
            <br>
            *Password: <input type="password" name="password" placeholder="password">
            <br>
            <input type="submit" value="Sign Up!">
        </form>
    </div>

    <div>
        <h3>Already Have an Account?</h3>
        <a href="/user/login"><button>Login</button></a>
    </div>
</body>
</html>