<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>


<body>
   
    <div>
        <h2>Your TASTIES List:</h2>
    </div>
    <div>
        <% for(restaurant of restaurants) { %>
            <article>
                <a href="/restaurants/<%=restaurant._id%>"><h3><%=restaurant.name%></h3></a>
                <!-- Aubrey look at this because you did it wrong the first time -->
            </article>
        <% } %>
    </div>
    <div>
        <a href="/restaurants/new"><button>Add a Restaurant</button></a>
    </div>
   
</body>
</html>
